
body {
    background-color: #f5f0e1; 
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding-top: 50%;
}

h1 {
    color: goldenrod;
    font-size: 110%;
    text-shadow: 3px 3px 6px #555;
margin: 0 0 20px 0;
    text-align: center;
}

h2 {
    color: black;
    font-size: 41%;
    margin: 0 0 40px 0;
    text-align: center;
}

.pkutu{
width: 600px;
padding: 25px;
border: 3px solid#555;
margin: 0 auto;
}

p {
    text-align: center;
    font-size: 30%;
}



/*Benim Yazdığım*\/*h1{
    color: goldenrod;
    text-align: center;
        font-size: 90px;
 font-family: 'Times New Roman', serif;
margin-bottom: 100px;
 font-family: 'Times New Roman', serif;
  text-shadow: 3px 3px 6px #555; 
}

h2{

    color: black;
    text-align: center;
    font-size: 45px;
    margin-bottom: 100px;
}*\